    
    1. Miniconda (or Psi4conda):

        a. Go to: https://conda.io/miniconda.html (or http://vergil.chemistry.gatech.edu/psicode-download/1.1.html)

        b. Download the version that best fits your system.

        c. Go to the directory where you downloaded the installer and execute it as:
           bash Miniconda3-latest-Linux-x86_64.sh (or bash Psi4conda-latest-py36-Linux-x86_64.sh)


    2. CrystaLattE Conda Environment:

        a. conda info --envs

        b. Create the CrystaLattE environment: conda create -n CrystaLattE psi4-dev python=3.6 -c psi4

        c. Activate the new environment: source activate CrystaLattE

        d. Install NumPy using: conda install numpy

        e. Install PyCifRW using: conda install -c conda-forge pycifrw

        f. Install NetworkX using: conda install networkx

    
    5. Hungarian Algorithm

        a. wget https://pypi.python.org/packages/b2/f9/9cccbbb8c724c4eff5d006bd3fe185e91d121caf2ffd345fe31421f1c886/hungarian-0.2.3.tar.gz

        b. python setup.py build

    
    6. PSI4 and QCDB:

        a. Clone PSI4: git clone https://github.com/psi4/psi4.git

        b. Add a 'Lori' remote: git remote add lori https://github.com/loriab/psi4.git

        c. git fetch lori

        d. git checkout pyvib2

        e. git checkout -b CrystaLattE

        f. psi4-path-advisor --help

        g. Chose a compiler option.

        h. Execute the cmake lines.

        i. Then change to the objects directory: cd objdir/

        j. And apply the changes by doing 'make': make -j4

        k. Run the smoke test suite: stage/usr/local/psi4/bin/psi4 --test

        l. Run the complete test suite: ctest -j4


    7. Runtime Configuration (Create an alias in the .bashrc):

        a. export PYTHONPATH=/home/carlosborca/Gits/psi4/objdir/stage/usr/local/psi4/lib//:/home/carlosborca/Gits/hungarian/build/lib.linux-x86_64-3.6/:$PYTHONPATH
           export PYTHONPATH=/theoryfs2/ds/cborca/Gits/psi4/objdir/stage/usr/local/psi4/lib//:/theoryfs2/ds/cborca/Gits/hungarian/build/lib.linux-x86_64-3.6/:$PYTHONPATH

        b. python -c "import psi4; print(psi4.__version__); print(psi4.__file__)"
